### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
schools = school_data_complete["school_name"].nunique()
schools

15

In [27]:
stds = school_data_complete["student_name"].count()
stds

39170

In [28]:
total_budget = school_data["budget"].sum()
total_budget

24649428

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [29]:
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [30]:
avg_rdg = school_data_complete["reading_score"].mean()
avg_rdg

81.87784018381414

In [31]:
avg_score = (avg_math + avg_rdg) / 2
avg_score

80.43160582078121

In [32]:
math_pass = student_data.loc[student_data ["math_score"]>=70]

In [33]:
percent_math_pass = math_pass['student_name'].count() / stds
percent_math_pass

0.749808526933878

In [34]:
rdg_pass = student_data.loc[student_data ["reading_score"]>=70]

In [35]:
percent_rdg_pass = rdg_pass['student_name'].count() / stds
percent_rdg_pass

0.8580546336482001

In [74]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [schools],
                                "Total_Students": [stds],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [avg_math],
                                "Average Reading Score": [avg_rdg],
                                "Percent Passing Math": [percent_math_pass],
                                "Percent Passing Reading": [percent_rdg_pass],
                                "% Overall Passing Rate": [avg_score] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [37]:
# Dependencies and Setup
import pandas as pd

In [85]:
school = school_data["school_name"]
school

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [88]:
school_type = school_data["type"]
#list(data.columns.values.tolist())
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [89]:
school_size = school_data["size"]
school_size

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [41]:
school_budget = school_data["budget"]
school_budget

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [42]:
student_budget = school_budget / school_size

In [43]:
school_avg_math = student_data["math_score"].mean()
school_avg_math

78.98537145774827

In [44]:
school_avg_rdg = student_data["reading_score"].mean()
school_avg_rdg

81.87784018381414

In [45]:
sch_math_pass = student_data.loc[student_data ["math_score"]>=70]

In [46]:
sch_percent_math_pass = sch_math_pass['student_name'].count() / stds
sch_percent_math_pass

0.749808526933878

In [51]:
school_rdg_pass = student_data.loc[student_data ["reading_score"]>=70]

In [52]:
sch_percent_rdg_pass = school_rdg_pass['student_name'].count() / stds
sch_percent_rdg_pass

0.8580546336482001

In [49]:
school_overall_pass = (sch_percent_math_pass + sch_percent_rdg_pass) / 2
school_overall_pass

0.8039315802910391

In [90]:
#Create summary dataframe
School_Summary= pd.DataFrame({"School Name": school, "School Type": school_type, "Total Students": school_size,
"Total School Budget": school_budget,
"Per Student Budget": student_budget,
"Average Math Score": school_avg_math,
"Average Reading Score": school_avg_rdg,
"% Passing Math": sch_percent_math_pass,
"% Passing Reading": sch_percent_rdg_pass,
"Overall Passing Rate": school_overall_pass
                               })
School_Summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,78.985371,81.87784,0.749809,0.858055,0.803932
1,Figueroa High School,District,2949,1884411,639.0,78.985371,81.87784,0.749809,0.858055,0.803932
2,Shelton High School,Charter,1761,1056600,600.0,78.985371,81.87784,0.749809,0.858055,0.803932
3,Hernandez High School,District,4635,3022020,652.0,78.985371,81.87784,0.749809,0.858055,0.803932
4,Griffin High School,Charter,1468,917500,625.0,78.985371,81.87784,0.749809,0.858055,0.803932
5,Wilson High School,Charter,2283,1319574,578.0,78.985371,81.87784,0.749809,0.858055,0.803932
6,Cabrera High School,Charter,1858,1081356,582.0,78.985371,81.87784,0.749809,0.858055,0.803932
7,Bailey High School,District,4976,3124928,628.0,78.985371,81.87784,0.749809,0.858055,0.803932
8,Holden High School,Charter,427,248087,581.0,78.985371,81.87784,0.749809,0.858055,0.803932
9,Pena High School,Charter,962,585858,609.0,78.985371,81.87784,0.749809,0.858055,0.803932
10,Wright High School,Charter,1800,1049400,583.0,78.985371,81.87784,0.749809,0.858055,0.803932
11,Rodriguez High School,District,3999,2547363,637.0,78.985371,81.87784,0.749809,0.858055,0.803932
12,Johnson High School,District,4761,3094650,650.0,78.985371,81.87784,0.749809,0.858055,0.803932
13,Ford High School,District,2739,1763916,644.0,78.985371,81.87784,0.749809,0.858055,0.803932
14,Thomas High School,Charter,1635,1043130,638.0,78.985371,81.87784,0.749809,0.858055,0.803932

In [ ]:
## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.