### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [44]:
schools = school_data_complete["school_name"].nunique()
schools

15

In [24]:
stds = school_data_complete["student_name"].count()
stds

39170

In [38]:
total_budget = school_data["budget"].sum()
total_budget

24649428

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [14]:
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [15]:
avg_rdg = school_data_complete["reading_score"].mean()
avg_rdg

81.87784018381414

In [46]:
avg_score = (avg_math + avg_rdg) / 2
avg_score

80.43160582078121

In [56]:
math_pass = student_data.loc[student_data ["math_score"]>=70]

In [58]:
percent_math_pass = math_pass['student_name'].count() / stds
percent_math_pass

0.749808526933878

In [60]:
rdg_pass = student_data.loc[student_data ["reading_score"]>=70]

In [61]:
percent_rdg_pass = rdg_pass['student_name'].count() / stds
percent_rdg_pass

0.8580546336482001

In [64]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [schools],
                                "Total_Students": [stds],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [avg_math],
                                "Average Reading Score": [avg_rdg],
                                "Percent Passing Math": [percent_math_pass],
                                "Percent Passing Reading": [percent_rdg_pass],
                                "% Overall Passing Rate": [avg_score] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [39]:
# Dependencies and Setup
import pandas as pd

In [139]:
school = school_data["school_name"]

In [140]:
school_type = school_data["type"]

In [141]:
school_size = school_data["size"]

In [142]:
school_budget = school_data["budget"]
school_budget

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [143]:
student_budget = school_budget / school_size

In [144]:
school_avg_math = student_data["math_score"].mean()
school_avg_math

78.98537145774827

In [145]:
school_avg_rdg = student_data["reading_score"].mean()
school_avg_rdg

81.87784018381414

In [146]:
school_math_pass = student_data.loc[student_data ["math_score"]>=70]

In [147]:
sch_percent_math_pass = math_pass['student_name'].count() / stds
sch_percent_math_pass

0.749808526933878

In [148]:
school_rdg_pass = student_data.loc[student_data ["reading_score"]>=70]

In [149]:
sch_percent_rdg_pass = rdg_pass['student_name'].count() / stds
sch_percent_rdg_pass

0.8580546336482001

In [150]:
school_overall_pass = (sch_percent_math_pass + sch_percent_rdg_pass) / 2
school_overall_pass

0.8039315802910391

In [151]:
school_summary = (["School Name": school
"School Type":school_type
"Total Students":school_size
"Total School Budget"
"Per Student Budget": student_budget
"Average Math Score": school_average_math
"Average Reading Score": school_average_rdg
""% Passing Math": sch_percent_math_pass
"%" Passing Reading": sch_percent_rdg_pass
"Overall Passing Rate"          "

SyntaxError: invalid syntax (<ipython-input-151-977a7e5286ee>, line 1)

In [ ]:
## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.